# OpenAPI version identifier - required for OpenAPI 3.0 domains
openapi: 3.0.0

#######################
# Optional info section
#######################
info:
  title: Memorable Experience
  description: logging APIs for this project
  version: '0.0.4'
  contact:
    email: "massimiliano.luca@unitn.it"

tags:
  - name: message
    description: APIs to log the conversation into the database
  - name: logging
    description: APIs to log additional information of the modules
  - name: performances
    description: APIs to retrieve useful information from the database. What follows can be used to analyze the performances of the bot


paths:
    # MESSAGES APIs
    /message:
      post:
        tags:
          - message
        summary: Add a new single message to the database
        description: This end-point allows to log a single message into the database
        requestBody:
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/RequestMessageModel'
                  - $ref: '#/components/schemas/ResponseMessageModel'
                  - $ref: '#/components/schemas/NotificationModel'
        responses:
          '201':
            description: Message logged
          '405':
            description: Invalid format of the message

    /messages:
      post:
        tags:
          - message
        summary: Add a batch of messages to the database
        description: This end-point allows to log a set of messages into the database
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesModel'
        responses:
          '201':
            description: Messages logged
          '405':
            description: Invalid format of the message

    # GENERAL LOGGING APIS
    /log:
      post:
        tags:
          - logging
        summary: Add a single log to the database
        description: This end-point allows to log a single log into the database
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralLogModel'
        responses:
          '201':
            description: Log logged
          '405':
            description: Invalid format of the log

    /logs:
      post:
        tags:
          - logging
        summary: Add a batch of messages to the database
        description: This end-point allows to log a set of messages into the database
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralLogsModel'
        responses:
          '201':
            description: Logs logged
          '405':
            description: Invalid format of the log

    # PERFORMANCES APIS
    /performance/message/{traceId}:
      get:
        tags:
          - performances
        summary: Retrieve a single message by specifying the trace id
        description: This end-point can be used to retrieve all the information of a single message
        parameters:
          - in: path
            name: traceId
            schema:
              type: string
            required: true
            description: The trace id of the message
        responses:
          '200':
            description: success
            content:
              applicaiton/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/RequestMessageModel'
                    - $ref: '#/components/schemas/ResponseMessageModel'
                    - $ref: '#/components/schemas/NotificationModel'
          '404':
            description: invalid trace id

    /performance/conversation/{conversationId}:
      get:
        tags:
          - performances
        summary: Retrieve a conversation by specifying the conversation id
        description: This end-point can be used to retrieve all the information of a conversation
        parameters:
          - in: path
            name: conversationId
            schema:
              type: string
            required: true
            explode: true
            description: The id of the conversation
        responses:
          '200':
            description: success
            content:
              applicaiton/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/MessagesModel'
          '400':
            description: invalid conversation id

components:

  ####################
  # Common data models
  ####################
  schemas:

    GeneralLogModel:
      type: object
      properties:
        source:
          type: string
          example: "wine-module"
        datetime:
          type: string
          example: "2019-04-04:23.11.58"
        traceId:
          type: string
          example: "23DAFG2-DNEMQ-315L-RWEO"
        message:
          type: string
          example: "ERROR @ class Message - no such file or directory exists"
        metadata:
          type: object
        project:
          type: string

    ResponseMessageModel:
      type: object
      properties:
        traceId:
          type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8"
        sentence:
          type: string
          example: "ecco una banca vicino a te"
        metadata:
          type: object
        project:
          type: string

    NotificationModel:
      type: object
      properties:
        traceId:
          type: string
          example: "23DAFG2-DNEMQ-315L-RWEO"
        sentence:
          type: string
          example: "Non perderti la festa di questa sera!"
        metadata:
          type: object
        project:
          type: string

    RequestMessageModel:
      type: object
      properties:
        traceId:
          type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8"
        sentence:
          type: string
          example: "devo fare un bonifico di 40 euro"
        domain:
          type: string
          example: "pagamenti"
        intent:
          type: object
          properties:
            name:
              type: string
              example: "bonifico"
            confidence:
              type: string
              example: 0.87
        entities:
          type: object

        project:
          type: string
          example: "memex"
        language:
          type: string
          example: "IT"


    # Schema for an array of Message
    MessagesModel:
      type: array
      items:
        anyOf:
          - $ref: '#/components/schemas/RequestMessageModel'
          - $ref: '#/components/schemas/ResponseMessageModel'
          - $ref: '#/components/schemas/NotificationModel'


    GeneralLogsModel:
      type: array
      items:
        $ref: '#/components/schemas/GeneralLogModel'
