# OpenAPI version identifier - required for OpenAPI 3.0 domains
openapi: 3.0.0

#######################
# Optional info section
#######################
info:

  title: WeNet - Interactions Logger and Analytics APIs
  description: This component is responsible for collecting and analyzing the messages produced by the WeNet applications together with lower level component logs that allow to monitor the functioning of the applications built on top of the platform and of the platform itself.

  version: "1.3.0"
  contact:
    email: "carlo.caprini@u-hopper.com"

servers:

  - url: https://internetofus.u-hopper.com/prod/logger
    description: WeNet production server
  - url: https://wenet.u-hopper.com/dev/logger
    description: WeNet development server

tags:

  - name: message
    description: APIs allowing to register incoming and outgoing messages of a conversation
  - name: logging
    description: APIs allowing to log events
  - name: analytic
    description: APIs to retrieve analytics based on messages

paths:

  # MESSAGES APIS
  /messages:
    post:
      tags:
        - message
      summary: Register a batch of messages
      description: This end-point allows to log a set of messages into the database
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Messages'
      responses:
        '201':
          description: messages stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_201_list'
        '400':
          description: malformed message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_400'
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_500'

    get:
      tags:
        - message
      summary: Retrieve a list of messages
      description: This end-point allows to retrieve all the messages from the database of a project within a time range, plus the possibility to specify other optional filters. It is necessary to specify the `project`, the `fromTime` and the `toTime`. Optionally you can specify also the `type`, the `channel`, the `userId` and the `maxSize`.
      parameters:
        - in: query
          name: project
          schema:
            type: string
          example: "wenet-ask-for-help"
          description: the name of the project related to the messages you want to retrieve
          required: true
        - in: query
          name: fromTime
          schema:
            type: string
            format: date-time
          example: "2021-01-25T14:18:36.141378"
          description: the timestamp expressed in ISO format from which you want to retrieve the messages
          required: true
        - in: query
          name: toTime
          schema:
            type: string
            format: date-time
          example: "2021-01-25T14:28:36.141378"
          description: the timestamp expressed in ISO format up to which you want to retrieve the messages
          required: true
        - in: query
          name: userId
          schema:
            type: string
          example: "USR-JDKHEIU2-31NJDTE94"
          description: the id of the user related to the messages you want to retrieve
        - in: query
          name: channel
          schema:
            type: string
          example: "FACEBOOK"
          description: the channel from which you want to retrieve the messages
        - in: query
          name: type
          schema:
            type: string
          example: "request"
          description: the type of the messages you want to retrieve
        - in: query
          name: maxSize
          schema:
            type: number
            format: int32
          example: 5000
          description: the maximum number of messages you want to retrieve (by default is set to `1000` and the maximum available is `10000`)
      responses:
        '200':
          description: messages retrived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        '400':
          description: malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_400'
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_500'

  /message:
    get:
      tags:
        - message
      summary: Get details of a message
      description: This end-point allows to retrieve all the information of a single message from the database, it is necessary to specify the `project`, the `messageId` and the `userId`, or instead of specifying these three parameters is possible to specify only the `traceId`
      parameters:
        - in: query
          name: project
          schema:
            type: string
          example: "wenet-ask-for-help"
          description: the name of the project related to the message you want to retrieve
        - in: query
          name: messageId
          schema:
            type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8"
          description: the id of the message you want to retrieve
        - in: query
          name: userId
          schema:
            type: string
          example: "USR-JDKHEIU2-31NJDTE94"
          description: the id of the user related to the message you want to retrieve
        - in: query
          name: traceId
          schema:
            type: string
          example: "bcpg8XYBHD_pmQ1jA7b8"
          description: the trace id of the message you want to retrieve
      responses:
        '200':
          description: message retrived
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageRetrieved'
        '400':
          description: malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_400'
        '404':
          description: message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_404_basic'
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_500'

    delete:
      tags:
        - message
      summary: Delete a specific message
      description: This end-point allows to delete a message from the database, it is necessary to specify the `project`, the `messageId` and the `userId`, or instead of specifying these three parameters is possible to specify only the `traceId`
      parameters:
        - in: query
          name: project
          schema:
            type: string
          example: "wenet-ask-for-help"
          description: the name of the project related to the message you want to delete
        - in: query
          name: messageId
          schema:
            type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8"
          description: The id of the message you want to delete
        - in: query
          name: userId
          schema:
            type: string
          example: "USR-JDKHEIU2-31NJDTE94"
          description: the id of the user related to the message you want to delete
        - in: query
          name: traceId
          schema:
            type: string
          example: "bcpg8XYBHD_pmQ1jA7b8"
          description: the traceId of the message you want to delete
      responses:
        '200':
          description: message deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_200_basic'
        '400':
          description: malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_400'
        '500':
          description: internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_500'

  # LOG APIS
  /logs:
    post:
      tags:
        - logging
      summary: Add a batch of messages to the database
      description: This end-point allows to log a set of messages into the database
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Logs'
      responses:
        '201':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_201_list'
        '400':
          description: malformed log
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_400'

  /log:
    get:
      tags:
        - logging
      summary: Retrieve a single log by specifying the trace id
      description: This end-point can be used to retrieve all the information of a single log
      parameters:
        - in: query
          name: id
          schema:
            type: string
          required: true
          description: The trace id of the log
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'

        '404':
          description: log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_404'

    put:
      tags:
        - logging
      summary: Update an already existing log
      description: This method should be used to update existing logs
      parameters:
        - in: query
          name: id
          schema:
            type: string
          required: true
          description: The id of the log
      responses:
        '200':
          description: Log updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_201'
        '404':
          description: Log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_404'

    delete:
      tags:
        - logging
      summary: Delete a log
      description: This method should be used to delete a log from the database
      parameters:
        - in: query
          name: id
          schema:
            type: string
          required: true
          description: The  id of the log
      responses:
        '200':
          description: Log removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_200'
        '404':
          description: Log not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_404'

  # ANALYTICS APIS
  /analytic:
    post:
      tags:
        - analytic
      summary: Create an analytic
      description: "
      This end-point allows to create an analytic based on the messages in the database, it returns a `staticId` that you have to use to retrieve the analytic.


      The allowed analytics are:

      * UserMetrics with `dimension` set to `user`, you can set `metric` to:
      `u:total`: the number of total users in a certain time range;
      `u:active`: the number of active users in a certain time range (that send at least a request message);
      `u:engaged`: the number of engaged users in a certain time range (that receive at least a notification message);
      `u:new`: the number of new users in a certain time range;

      * MessageMetrics with `dimension` set to `message`, you can set `metric` to:
      `m:from_users`: the number of messages from the users in a certain time range;
      `m:from_bot`: the number of messages from the bot in a certain time range;
      `m:responses`: the number of response messages in a certain time range;
      `m:notifications`: the number of notification messages in a certain time range;
      `m:unhandled`: the number of unhandled messages in a certain time range;
      `m:segmentation`: the segmentation of the messages based on the type in a certain time range;
      `u:segmentation`: the segmentation of the user messages based on the type in a certain time range;

      * TaskMetrics with `dimension` set to `task`, you can set `metric` to:
      `t:total`: the number of total tasks in a certain time range;
      `t:active`: the number of active/open tasks in a certain time range;
      `t:closed`: the number of closed tasks in a certain time range;
      `t:new`: the number of new tasks in a certain time range;

      * TransactionMetrics with `dimension` set to `transaction`, you can set `metric` to:
      `t:total`: the number of total transactions in a certain time range;
      `t:segmentation`: the segmentation of the transactions based on the type in a certain time range.
      For this metric you can also specify the task id of interest using the field `taskId`;

      * ConversationMetrics with `dimension` set to `conversation`, you can set `metric` to:
      `c:total`: the number of conversation in a certain time range;
      `c:new`: the number of new conversation in a certain time range;
      `c:length`: the number of conversation in a certain time range with the length;
      `c:path`: the number of paths of the conversations in a certain time;

      * DialogueMetrics with `dimension` set to `dialogue`, you can set `metric` to:
      `d:fallback`: the number of missed intent messages in a certain time range;
      `d:intents`: the number of intents in a certain time range;
      `d:domains`: the number of domains in a certain time range;

      * BotMetrics with `dimension` set to `bot`, you can set `metric` to:
      `b:response`: the number of users and messages in a certain time range.


      It could be possible to post also aggregations.
      "
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/UserAnalytic'
                - $ref: '#/components/schemas/MessageAnalytic'
                - $ref: '#/components/schemas/TaskAnalytic'
                - $ref: '#/components/schemas/TransactionAnalytic'
                - $ref: '#/components/schemas/ConversationAnalytic'
                - $ref: '#/components/schemas/DialogueAnalytic'
                - $ref: '#/components/schemas/BotAnalytic'
                - $ref: '#/components/schemas/Aggregation'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                properties:
                  staticId:
                    type: string
                    example: "bcpg8XYBHD_pmQ1jA7b8"
        '400':
          description: malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_400'

    get:
      tags:
        - analytic
      summary: Retrieve an analytic
      description: "
      This end-point allows to retrieve an analytic based on a `staticId`.


      For the analytics will return a `HTTP_200_ANALYTIC` object. The object contained in the `result` field is a:

      * `SegmentationResult` object if the analytic requested is a segmentation metric;

      * `ConversationLengthResult` object if the analytic requested is a `ConversationMetrics` with metric `c:length`;

      * `ConversationPathResult` object if the analytic requested is a `ConversationMetrics` with metric `c:path`;

      * `TransactionResult` object if the analytic requested is a `TransactionMetrics`;

      * `AnalyticResult` in all the other cases.


      For the aggreagtions will return a `HTTP_200_AGGREGATION` object.
      "
      parameters:
        - in: query
          name: staticId
          schema:
            type: string
          required: true
          description: the identifier of the analytic
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HTTP_200_ANALYTIC'
                  - $ref: '#/components/schemas/HTTP_200_AGGREGATION'
        '400':
          description: malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_400'
        '404':
          description: analytic not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTP_404'

  /analytic/usercount:
    get:
      tags:
        - analytic
      parameters:
        - in: query
          name: userId
          schema:
            type: string
          required: true
          description: the identifier of the user for which you want to count the clicks
      summary: Retrieve the number click based on a user identifier
      description: Retrieve the number click based on a user identifier
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_user_count'

  /analytic/eventcount:
    get:
      tags:
        - analytic
      parameters:
        - in: query
          name: eventId
          schema:
            type: string
          required: true
          description: the identifier of the event for which you want to count the clicks
      summary: Retrieve the number click based on an event identifier
      description: Retrieve the number click based on an event identifier
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_event_count'

  # DOCUMENTATION API
  /documentation:
    get:
      tags:
        - documentation
      summary: Retrieve the documentation
      description: Retrieve the documentation in a yaml format
      responses:
        '200':
          description: success

components:

  ####################
  # Common data models
  ####################
  schemas:

    Messages:
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/RequestMessage'
          - $ref: '#/components/schemas/ResponseMessage'
          - $ref: '#/components/schemas/NotificationMessage'

    MessageRetrieved:
      type: object
      oneOf:
        - $ref: '#/components/schemas/RequestMessage'
        - $ref: '#/components/schemas/ResponseMessage'
        - $ref: '#/components/schemas/NotificationMessage'
      properties:
        traceId:
          type: string
          example: "bcpg8XYBHD_pmQ1jA7b8"
      example: { "messageId": "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8", "channel": "FACEBOOK", "userId": "USR-JDKHEIU2-31NJDTE94", "conversationId": "CONV-DAJKWPENVOA-314CAD", "timestamp": "2021-01-25T14:18:36.141378", "content": { "type": "text", "value": "devo fare un bonifico di 40 euro" }, "domain": "pagamenti", "intent": { "name": "bonifico", "confidence": 0.87 }, "entities": [ { "type": "@city", "value": "Boston", "confidence": 0.94 } ], "project": "wenet-ask-for-help", "language": "IT", "metadata": { }, "type": "REQUEST", "traceId": "bcpg8XYBHD_pmQ1jA7b8" }

    RequestMessage:
      type: object
      properties:
        messageId:
          type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8"
        conversationId:
          type: string
          example: "CONV-DAJKWPENVOA-314CAD"
          nullable: true
        channel:
          type: string
          example: "FACEBOOK"
        userId:
          type: string
          example: "USR-JDKHEIU2-31NJDTE94"
        timestamp:
          type: string
          format: date-time
          description: Timestamp expressed in ISO format
          example: "2021-01-25T14:18:36.141378"
        content:
          oneOf:
            - $ref: '#/components/schemas/TextualRequest'
            - $ref: '#/components/schemas/ActionRequest'
            - $ref: '#/components/schemas/AttachmentRequest'
            - $ref: '#/components/schemas/LocationRequest'
            - $ref: '#/components/schemas/UserInfoRequest'
          example: { "type": "text", "value": "devo fare un bonifico di 40 euro" }
          nullable: true
        domain:
          type: string
          example: "pagamenti"
          nullable: true
        intent:
          type: object
          properties:
            name:
              type: string
              example: "bonifico"
              nullable: true
            confidence:
              type: number
              format: float
              example: 0.87
              nullable: true
          nullable: true
        entities:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
        language:
          type: string
          example: "IT"
          nullable: true
        metadata:
          type: object
          example: {}
          nullable: true
        project:
          type: string
          example: "wenet-ask-for-help"
        type:
          type: string
          enum: [ "request" ]
          example: "request"
      required:
        - messageId
        - channel
        - userId
        - timestamp
        - project
        - type

    ResponseMessage:
      type: object
      properties:
        messageId:
          type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A9"
        conversationId:
          type: string
          example: "CONV-DOWI41-DAJPRTI3"
          nullable: true
        channel:
          type: string
          example: "FACEBOOK"
        userId:
          type: string
          example: "USR-JDKHEIU2-31NJDTE94"
        responseTo:
          type: string
          example: "1FKNSM-GEKRO2-DANK2-FJ33-DASDJOW"
        timestamp:
          type: string
          format: date-time
          description: Timestamp expressed in ISO format
          example: "2021-01-25T14:18:36.141378"
        content:
          oneOf:
            - $ref: '#/components/schemas/TextualResponse'
            - $ref: '#/components/schemas/MultiActionResponse'
            - $ref: '#/components/schemas/AttachmentResponse'
            - $ref: '#/components/schemas/CarouselResponse'
            - $ref: '#/components/schemas/LocationResponse'
          example: { "type": "text", "value": "va bene" }
          nullable: true
        metadata:
          type: object
          example: {}
          nullable: true
        project:
          type: string
          example: "wenet-ask-for-help"
        type:
          type: string
          enum: [ "response" ]
          example: "response"
      required:
        - messageId
        - channel
        - userId
        - responseTo
        - timestamp
        - project
        - type

    NotificationMessage:
      type: object
      properties:
        messageId:
          type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A0"
        conversationId:
          type: string
          example: "CONV-DOWI41-DAJPRTI3"
          nullable: true
        channel:
          type: string
          example: "FACEBOOK"
        userId:
          type: string
          example: "USR-JDKHEIU2-31NJDTE94"
        timestamp:
          type: string
          format: date-time
          description: Timestamp expressed in ISO format
          example: "2021-01-25T14:18:36.141378"
        content:
          oneOf:
            - $ref: '#/components/schemas/TextualResponse'
            - $ref: '#/components/schemas/ActionResponse'
            - $ref: '#/components/schemas/AttachmentResponse'
            - $ref: '#/components/schemas/CarouselResponse'
            - $ref: '#/components/schemas/LocationResponse'
          example: { "type": "text", "value": "attenzione, hai meno di 100 euro sul conto" }
          nullable: true
        metadata:
          type: object
          example: {}
          nullable: true
        project:
          type: string
          example: "wenet-ask-for-help"
        type:
          type: string
          enum: [ "notification" ]
          example: "notification"
      required:
        - messageId
        - channel
        - userId
        - timestamp
        - project
        - type

    LocationRequest:
      type: object
      properties:
        type:
          type: string
          example: "location"
        longitude:
          type: number
          format: float
          example: 47.3123451
        latitude:
          type: number
          format: float
          example: 9.321151
      required:
        - type
        - longitude
        - latitude

    LocationResponse:
      type: object
      properties:
        type:
          type: string
          example: "location"
        longitude:
          type: number
          format: float
          example: 47.3123451
        latitude:
          type: number
          format: float
          example: 9.321151
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/ActionResponse'
      required:
        - type
        - longitude
        - latitude

    UserInfoRequest:
      type: object
      properties:
        type:
          type: string
          enum: [ "firstName", "lastName", "profilePic", "locale", "timezone", "gender", "isPaymentEnable", "userId" ]
          example: "firstName"
        value:
          type: string
          example: "Matteo"
      required:
        - type
        - value

    TextualRequest:
      type: object
      properties:
        type:
          type: string
          example: "text"
        value:
          type: string
          example: "I want some wine"
      required:
        - type
        - value

    TextualResponse:
      type: object
      properties:
        type:
          type: string
          example: "text"
        value:
          type: string
          example: "I want to go hiking"
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/ActionResponse'
      required:
        - type
        - value

    ActionRequest:
      type: object
      properties:
        type:
          type: string
          example: "action"
        value:
          type: string
          example: "Let's do it!"
      required:
        - type
        - value

    ActionResponse:
      type: object
      properties:
        type:
          type: string
          example: "action"
        buttonText:
          type: string
          example: "Cerca hotel"
        buttonId:
          type: string
          example: "BTN-DAJKSOD142-ADFGWE2"
          nullable: true
      required:
        - type
        - buttonText

    MultiActionResponse:
      type: object
      properties:
        type:
          type: string
          example: "multiaction"
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/ActionResponse'

    AttachmentRequest:
      type: object
      properties:
        type:
          type: string
          example: "attachment"
        uri:
          type: string
          example: "http://image.com/image.png"
        alternativeText:
          type: string
          example: "An hotel"
          nullable: true
      required:
        - type
        - uri

    AttachmentResponse:
      type: object
      properties:
        type:
          type: string
          example: "attachment"
        uri:
          type: string
          example: "http://image.com/image.png"
        alternativeText:
          type: string
          example: "An hotel"
          nullable: true
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/ActionResponse'
      required:
        - type
        - uri

    CarouselResponse:
        type: object
        properties:
          type:
            type: string
            example: "carousel"
          cards:
            type: array
            items:
              $ref: '#/components/schemas/CarouselCardResponse'
        required:
          - type
          - cards

    CarouselCardResponse:
      type: object
      properties:
          title:
            type: string
            example: "Hiking activity"
          imageUrl:
            type: string
            example: "http://www.google.com/logo.png"
            nullable: true
          subtitle:
            type: string
            example: "you should hike"
            nullable: true
          defaultAction:
            type: object
            example: {}
            nullable: true
          buttons:
            type: array
            items:
              $ref: '#/components/schemas/ActionResponse'
      required:
        - title

    Entity:
      type: object
      properties:
        type:
          type: string
          example: "@city"
        value:
          type: string
          example: "Boston"
        confidence:
          type: number
          format: float
          example: 0.94
      required:
        - type
        - value
        - confidence

    Log:
      type: object
      properties:
        logId:
          type: string
          example: "LOG31235141"
        project:
          type: string
          example: "wenet-ask-for-help"
        component:
          type: string
          example: "dimension"
        authority:
          type: string
          example: "nlu"
        severity:
          type: string
          enum: [ "error", "warning", "info", "debug" ]
          example: "error"
        logContent:
          type: string
          example: "bot stopped"
        timestamp:
          type: string
          format: date-time
          description: Timestamp expressed in ISO format
          example: "2021-01-25T14:18:36.141378"
        botVersion:
          type: string
          example: "mem-1.0.2"
        metadata:
          type: object
          example: {}

    Logs:
      type: array
      items:
        $ref: '#/components/schemas/Log'

    CommonAnalytic:
      type: object
      properties:
        project:
          type: string
          example: "wenet-ask-for-help"
        timespan:
          type: object
          oneOf:
            - $ref: '#/components/schemas/MovingTimeWindow'
            - $ref: '#/components/schemas/FixedTimeWindow'
        type:
          type: string
          enum: ["analytic"]
          example: "analytic"
      required:
        - project
        - timespan
        - type

    Aggregation:
      type: object
      properties:
        project:
          type: string
          example: "wenet-ask-for-help"
        timespan:
          type: object
          oneOf:
            - $ref: '#/components/schemas/MovingTimeWindow'
            - $ref: '#/components/schemas/FixedTimeWindow'
        type:
          type: string
          enum: ["aggregation"]
        field:
          type: string
          description: The field has to be a numeric field
          example: "intent.confidence"
        aggregation:
          type: string
          enum: ["avg", "min", "max", "sum", "stats", "extended_stats", "value_count", "cardinality", "percentiles"]
          example: "min"
        filters:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
      required:
        - project
        - timespan
        - type
        - field
        - aggregation

    Filter:
      type: object
      properties:
        field:
          type: string
          example: "text"
        operation:
          type: string
          enum: ["gr", "gre", "lq", "lqe", "term", "match"]
          example: "match"
        value:
          type: string
          example: "Hi"
      required:
        - field
        - operation
        - value

    UserAnalytic:
      allOf:
        - $ref: '#/components/schemas/CommonAnalytic'
      properties:
        dimension:
          type: string
          enum: ["user"]
          example: "user"
        metric:
          type: string
          enum: ["u:total", "u:active", "u:engaged", "u:new"]
          example: "u:active"
      required:
        - dimension
        - metric

    MessageAnalytic:
      allOf:
        - $ref: '#/components/schemas/CommonAnalytic'
      properties:
        dimension:
          type: string
          enum: ["message"]
          example: "message"
        metric:
          type: string
          enum: ["m:from_users", "m:from_bot", "m:responses", "m:notifications", "m:unhandled", "m:segmentation", "u:segmentation"]
          example: "m:from_users"
      required:
        - dimension
        - metric

    TaskAnalytic:
      allOf:
        - $ref: '#/components/schemas/CommonAnalytic'
      properties:
        project:
          type: string
          description: "For the task analytics the project is not related to the name used in the db. It is requested the id of the application"
          example: "I2BIO3UXx6"
        dimension:
          type: string
          enum: ["task"]
          example: "task"
        metric:
          type: string
          enum: ["t:total", "t:active", "t:closed", "t:new"]
          example: "t:active"
      required:
        - dimension
        - metric

    TransactionAnalytic:
      allOf:
        - $ref: '#/components/schemas/CommonAnalytic'
      properties:
        project:
          type: string
          description: "For the transaction analytics, the project is not related to the name used in the db. It is requested the id of the application"
          example: "I2BIO3UXx6"
        dimension:
          type: string
          enum: ["transaction"]
          example: "transaction"
        metric:
          type: string
          enum: ["t:total", "t:segmentation"]
          example: "t:new"
        taskId:
          type: string
          example: "704ad78d6d52bf159d1d7a97"
      required:
        - dimension
        - metric

    ConversationAnalytic:
      allOf:
        - $ref: '#/components/schemas/CommonAnalytic'
      properties:
        dimension:
          type: string
          enum: ["conversation"]
          example: "conversation"
        metric:
          type: string
          enum: ["c:total", "c:new", "c:length", "c:path"]
          example: "c:new"
      required:
        - dimension
        - metric

    DialogueAnalytic:
      allOf:
        - $ref: '#/components/schemas/CommonAnalytic'
      properties:
        dimension:
          type: string
          enum: ["dialogue"]
          example: "dialogue"
        metric:
          type: string
          enum: ["d:fallback", "d:intents", "d:domains"]
          example: "d:domains"
      required:
        - dimension
        - metric

    BotAnalytic:
      allOf:
        - $ref: '#/components/schemas/CommonAnalytic'
      properties:
        dimension:
          type: string
          enum: ["bot"]
          example: "bot"
        metric:
          type: string
          enum: ["b:response"]
          example: "b:response"
      required:
        - dimension
        - metric

    MovingTimeWindow:
      type: object
      properties:
        type:
          type: string
          enum: ["MOVING"]
          example: "MOVING"
        value:
          type: string
          enum: ["TODAY","1D","7D","10D","30D"]
          example: "7D"
      required:
        - type
        - value

    FixedTimeWindow:
      type: object
      properties:
        type:
          type: string
          enum: ["FIXED"]
          example: "FIXED"
        start:
          type: string
          format: date-time
          example: "2021-01-25T14:18:36.141378"
        end:
          type: string
          format: date-time
          example: "2021-01-25T14:28:36.141378"
      required:
        - type
        - start
        - end

    # Responses

    HTTP_200_basic:
      type: object
      properties:
        status:
          type: string
          example: "Ok"
        code:
          enum: [ '200' ]
          example: 200

    HTTP_200:
      type: object
      properties:
        traceId:
          type: string
          example: "bcpg8XYBHD_pmQ1jA7b8"
        status:
          type: string
          example: "Object deleted"
        code:
          enum: [ '200' ]
          example: 200

    HTTP_200_ANALYTIC:
      type: object
      properties:
        query:
          oneOf:
            - $ref: '#/components/schemas/UserAnalytic'
            - $ref: '#/components/schemas/MessageAnalytic'
            - $ref: '#/components/schemas/TaskAnalytic'
            - $ref: '#/components/schemas/TransactionAnalytic'
            - $ref: '#/components/schemas/DialogueAnalytic'
            - $ref: '#/components/schemas/BotAnalytic'
        result:
          oneOf:
            - $ref: '#/components/schemas/AnalyticResult'
            - $ref: '#/components/schemas/SegmentationResult'
            - $ref: '#/components/schemas/TransactionResult'
            - $ref: '#/components/schemas/ConversationLengthResult'
            - $ref: '#/components/schemas/ConversationPathResult'
        staticId:
          type: string
          example: "wAu4EW4BFurD9NUGZY3z"

    AnalyticResult:
      type: object
      properties:
        count:
          type: number
          format: int32
        items:
          type: array
          items:
            type: string
        type:
          type: string
          example: "userId"

    SegmentationResult:
      type: object
      properties:
        counts:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: "response"
              count:
                type: number
                format: int32
                example: 26
        type:
          type: string
          enum: [ "segmentation" ]
          example: "segmentation"

    TransactionResult:
      type: object
      properties:
        count:
          type: number
          format: int32
        transactions:
          type: array
          items:
            type: object
            properties:
              taskId:
                type: string
                example: "604ad78d6d61bf149d1d7a97"
              trnsactionIds:
                type: array
                items:
                  type: string
                  example: "1"
        type:
          type: string
          enum: [ "transaction" ]
          example: "transaction"

    ConversationLengthResult:
      type: object
      properties:
        count:
          type: number
          format: int32
        lengths:
          type: array
          items:
            type: object
            properties:
              conversationId:
                type: string
                example: "CONV-DOWI41-DAJPRTI3"
              length:
                type: number
                format: int32
                example: 3
        type:
          type: string
          enum: [ "length" ]
          example: "length"

    ConversationPathResult:
      type: object
      properties:
        count:
          type: number
          format: int32
        paths:
          type: array
          items:
            type: object
            properties:
              conversationId:
                type: string
                example: "CONV-DOWI41-DAJPRTI3"
              messages:
                type: array
                items:
                  type: string
                  example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A9"
        type:
          type: string
          enum: [ "path" ]
          example: "path"

    HTTP_200_AGGREGATION:
      type: object
      properties:
        query:
          allOf:
            - $ref: '#/components/schemas/Aggregation'
        result:
          type: object
          properties:
            <aggregation>:
              type: number
              description: "It is a number in the case of the simple stats. For `stats`, `extended_stats` and `percentiles` it is an object as returned from the db."
              example: 3
        staticId:
          type: string
          example: "wAu4EW4BFurD9NUGZY3z"

    HTTP_201:
      type: object
      properties:
        traceId:
          type: string
          example: "bcpg8XYBHD_pmQ1jA7b8"
        status:
          type: string
          example: "Object Created"
        code:
          enum: [ '201' ]
          example: 201

    HTTP_201_list:
      type: object
      properties:
        traceIds:
          type: array
          items:
            type: string
            example: "bcpg8XYBHD_pmQ1jA7b8"
        status:
          type: string
          example: "Created"
        code:
          enum: [ '201' ]
          example: 201

    200_event_count:
      type: object
      properties:
        type:
          enum: ["click_per_event"]
          example: "click_per_event"
        event:
          type: string
          example: "EV321423"
        click:
          type: object
        status:
          enum: ['ok']
          example: 'ok'
        cose:
          enum: [ '200' ]
          example: '200'

    200_user_count:
      type: object
      properties:
        type:
          enum: ["click_per_user"]
          example: "click_per_user"
        user:
          type: string
          example: "USR30942"
        click:
          type: object
        status:
          enum: ['ok']
          example: 'ok'
        cose:
          enum: [ '200' ]
          example: '200'

    HTTP_400:
      type: object
      properties:
        status:
          type: string
          example: "Malformed request"
        code:
          enum: [ '400' ]
          example: 400

    HTTP_404_basic:
      type: object
      properties:
        status:
          type: string
          example: "Not found"
        code:
          enum: [ '404' ]
          example: 404

    HTTP_404:
      type: object
      properties:
        traceId:
          type: string
          example: "bcpg8XYBHD_pmQ1jA7b8"
        status:
          type: string
          example: "Cannot find message {traceId} in the database"
        code:
          enum: [ '404' ]
          example: 404

    HTTP_500:
      type: object
      properties:
        status:
          type: string
          example: "Internal server error"
        code:
          enum: [ '500' ]
          example: 500
