# OpenAPI version identifier - required for OpenAPI 3.0 domains
openapi: 3.0.0

#######################
# Optional info section
#######################
info:
  title: Memorable Experience
  description: "This document details the APIs exposed by the MemEx big data platform, realise by U-Hoppper srl within the context of the FESR-funded Memorable Experiences (MemEx) project. The platform logs all interactions among tourists and a purposefully designed chatbot.

    There are three kind of implemented APIs

    1. messages: to store, retrieve and delete messages.

    2. logging: to store, retrieve and delete logs

    3. performances: to retrieve some performances of the system


    A part from the entities and models representing the responses, there are three main entities involved in the system: `Message`, `Log` and `Performance`.

    A message can be a `ResponseMessage`, a `RequestMessage` or a `Notification`. A response message represents a response to a request message while the latter represent a message from the user. A notification is a special kind of message sent by, for example, by the local administration or the hotel.


    Concerning `Log`, it represents a metric to track the status of the system and what drove to a particular choice.

    "

  version: '0.0.5'
  contact:
    email: "massimiliano.luca@unitn.it"

servers:
  - url: memex.u-hopper.com

tags:
  - name: message
    description: APIs to log the conversation into the database
  - name: logging
    description: APIs to log additional information of the modules
  - name: analytics
    description: APIs to retrieve useful information from the database. What follows can be used to analyze the performances of the bot


paths:
    # MESSAGES APIs

    /logging/messages:
      post:
        tags:
          - message
        summary: Add a batch of messages to the database
        description: This end-point allows to log a set of messages into the database
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        responses:
          '201':
            description: success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_201'
          '405':
            description: malformed message
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_405'

    /logging/message:
      get:
        tags:
          - message
        summary: Retrieve a single message by specifying the trace id
        description: This end-point can be used to retrieve all the information of a single message
        parameters:
          - in: query
            name: project
            schema:
              type: string
            required: true
            description: the name of the project related to the message you want to retrieve
          - in: query
            name: messageId
            schema:
              type: string
            required: true
            description: the id of the message you want to retrieve
        responses:
          '200':
            description: success
            content:
              application/json:
                schema:
                  oneOf:
                  - $ref: '#/components/schemas/RequestMessage'
                  - $ref: '#/components/schemas/ResponseMessage'
                  - $ref: '#/components/schemas/NotificationMessage'

          '404':
            description: message not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_404'

      put:
        tags:
          - message
        summary: Update a message
        description: Update a message that is already stored in the database
        parameters:
          - in: path
            name: id
            schema:
              type: string
            required: true
            description: The id of the message
        responses:
          '200':
            description: Message updated
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_201'
          '404':
            description: message not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_404'

      delete:
        tags:
          - message
        summary: Delete a message
        description: This method should be used to delete a message from the database
        parameters:
          - in: path
            name: id
            schema:
              type: string
            required: true
            description: The id of the message
        responses:
          '200':
            description: Message removed
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_200'
          '404':
            description: message not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_404'



    # GENERAL LOGGING APIS

    /logging/logs:
      post:
        tags:
          - logging
        summary: Add a batch of messages to the database
        description: This end-point allows to log a set of messages into the database
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralLogs'
        responses:
          '201':
            description: success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_201'
          '405':
            description: malformed log
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_405'

    /logging/log/{id}:
      get:
        tags:
          - logging
        summary: Retrieve a single log by specifying the trace id
        description: This end-point can be used to retrieve all the information of a single log
        parameters:
          - in: path
            name: id
            schema:
              type: string
            required: true
            description: The trace id of the log
        responses:
          '200':
            description: success
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/GeneralLog'

          '404':
            description: log not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_404'

      put:
        tags:
          - logging
        summary: Update an already existing log
        description: This method should be used to update existing logs
        parameters:
          - in: path
            name: id
            schema:
              type: string
            required: true
            description: The id of the log
        responses:
          '200':
            description: Log updated
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_201'
          '404':
            description: Log not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_404'

      delete:
        tags:
          - logging
        summary: Delete a log
        description: This method should be used to delete a log from the database
        parameters:
          - in: path
            name: id
            schema:
              type: string
            required: true
            description: The  id of the log
        responses:
          '200':
            description: Log removed
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_200'
          '404':
            description: Log not found
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/HTTP_404'

    # PERFORMANCES APIS



    #DOCUMENTATION
    /logging/documentation:
      get:
        tags:
          - documentation
        summary: Retrieve the documentation
        description: Retrieve the documentation in a yaml format
        responses:
          '200':
            description: success

components:

  ####################
  # Common data models
  ####################
  schemas:

    Messages:
      type: array
      items:
        anyOf:
          - $ref: '#/components/schemas/RequestMessage'
          - $ref: '#/components/schemas/ResponseMessage'
          - $ref: '#/components/schemas/NotificationMessage'


    RequestMessage:
      type: object
      properties:
        messageId:
          type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8"
        channel:
          type: string
          example: "FACEBOOK"
        userId:
          type: string
          example: "USR-JDKHEIU2-31NJDTE94"
        conversationId:
          type: string
          example: "CONV-DAJKWPENVOA-314CAD"
        structureId:
          type: string
          example: "STR-FIWN25S-DAJO94"
        timestamp:
          type: string
          example: "2019-04-04:23.11.58"
        content:
          oneOf:
            - $ref: '#/components/schemas/TextualRequest'
            - $ref: '#/components/schemas/ActionRequest'
            - $ref: '#/components/schemas/AttachmentRequest'
          example: "devo fare un bonifico di 40 euro"
        domain:
          type: string
          example: "pagamenti"
        intent:
          type: object
          properties:
            name:
              type: string
              example: "bonifico"
            confidence:
              type: number
              format: float
              example: 0.87
        entities:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
        project:
          type: string
          example: "MeMex"
        language:
          type: string
          example: "IT"
        metadata:
          type: object
        type:
          type: string
          example: "REQUEST"

    ResponseMessage:
      type: object
      properties:
        messageId:
          type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8"
        conversationId:
          type: string
          example: "CONV-DOWI41-DAJPRTI3"
        channel:
          type: string
          example: "FACEBOOK"
        userId:
          type: string
          example: "USR-JDKHEIU2-31NJDTE94"
        structureId:
          type: string
          example: "STR-FIWN25S-DAJO94"
        responseTo:
          type: string
          example: "1FKNSM-GEKRO2-DANK2-FJ33-DASDJOW"
        timestamp:
          type: string
          example: "2019-04-04:23.11.58"
        content:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/TextResponse'
              - $ref: '#/components/schemas/QuickReplyResponse'
              - $ref: '#/components/schemas/AttachmentResponse'
              - $ref: '#/components/schemas/CarouselResponse'
        metadata:
          type: object
        project:
          type: string
          example: 'MemEx'
        type:
          type: string
          example: "RESPONSE"

    NotificationMessage:
      type: object
      properties:
        messageId:
          type: string
          example: "2A6F67A4-42D2-4DE0-9F00-DE4A564A83A8"
        conversationId:
          type: string
          example: "CONV-DOWI41-DAJPRTI3"
        structureId:
          type: string
          example: "STR-FIWN25S-DAJO94"
        channel:
          type: string
          example: "FACEBOOK"
        userId:
          type: string
          example: "USR-JDKHEIU2-31NJDTE94"
        timestamp:
          type: string
          example: "2019-04-04:23.11.58"
        content:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/TextResponse'
              - $ref: '#/components/schemas/QuickReplyResponse'
              - $ref: '#/components/schemas/AttachmentResponse'
              - $ref: '#/components/schemas/CarouselResponse'
        metadata:
          type: object
        project:
          type: string
          example: "MemEx"
        type:
          type: string
          example: "NOTIFICATION"

    TextualRequest:
      type: object
      properties:
        type:
          type: string
          example: "text"
        value:
          type: string
          example: "I want some wine"

    ActionRequest:
      type: object
      properties:
        type:
          type: string
          example: "action"
        value:
          type: string
          example: "Let's do it!"

    AttachmentResponse:
      type: object
      properties:
        type:
          type: string
          example: "Image"
        uri:
          type: string
          example: "http://image.com/image.png"
        alternativeText:
          type: string
          example: "An hotel"
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/QuickReplyResponse'

    AttachmentRequest:
      type: object
      properties:
        type:
          type: string
          example: "Image"
        uri:
          type: string
          example: "http://image.com/image.png"
        alternativeText:
          type: string
          example: "An hotel"

    CarouselResponse:
        type: object
        properties:
          type:
            type: string
            example: "carousel"
          title:
            type: string
            example: "Hiking activity"
          imageUrl:
            type: string
            example: "http://www.google.com/logo.png"
          subtitle:
            type: string
            example: "you should hike"
          defaultAction:
            type: object
          buttons:
            type: array
            items:
              $ref: '#/components/schemas/QuickReplyResponse'

    TextResponse:
      type: object
      properties:
        type:
          type: string
          enum: ["text"]
        value:
          type: string
          example: "I want to go hiking"
        buttons:
          type: array
          items:
            $ref: '#/components/schemas/QuickReplyResponse'

    QuickReplyResponse:
      type: object
      properties:
        type:
          type: string
          enum: ["action"]
        buttonText:
          type: string
          example: "Cerca hotel"
        buttonId:
          type: string
          example: "BTN-DAJKSOD142-ADFGWE2"
        mediaType:
          type: string
          example: "Image"
        mediaURI:
          type: string
          example: "http://www.image.com/image.jpg"

    Entity:
      type: object
      properties:
        type:
          type: string
          example: "@city"
        value:
          type: string
          example: "Boston"
        confidence:
          type: number
          format: float
          example: 0.94



    # Schema for an array of Message


    Log:
      type: object
      properties:
        logId:
          type: string
          example: "LOG391390123"
        severity:
          type: string
          enum: ['error','warning','info']
          example: "error"
        logContent:
          type: string
          example: "bot stopped"
        timestamp:
          type: string
          example: "2019-07-04T08:33:48.35408Z"
        authority:
          type: string
          example: "memex.dimension.nlu"
        resolution:
          type: object
          properties:
            input:
              type: string
              example: metadata.is_detected
            output:
              type: string
              example: "true"
        messageId:
          type: string
          example: "MSG00138938901133892"
        botVersion:
          type: string
          example: "mem-1.0.2"
        device:
          type: object
        metadata:
          type: object
        project:
          type: string
          example: "memex"

    Logs:
      type: array
      items:
        $ref: '#/components/schemas/Log'


    # Responses

    HTTP_200:
      type: object
      properties:
        traceId:
          type: string
          example: "DSADK-IPOWN-3G3478"
        status:
          type: string
          example: "Object Created"
        code:
          enum: ['200']
          example: 200

    HTTP_201 :
      type: object
      properties:
        traceId:
          type: string
          example: "DSADK-IPOWN-3G3478"
        status:
          type: string
          example: "Object Created"
        code:
          enum: ['201']
          example: 201


    HTTP_404:
      type: object
      properties:
        traceId:
          type: string
          example: "DSADK-IPOWN-3G3478"
        status:
          type: string
          example: "Cannot find message {traceId} in the database"
        code:
          enum: ['404']
          example: 404

    HTTP_405:
      type: object
      properties:
        traceId:
          type: string
          example: "DSADK-IPOWN-3G3478"
        status:
          type: string
          example: "Field {name} is missing in the message"
        code:
          enum: ['405']
          example: 405
